:root {
    /* colours */
    --text-colour: #575757;
    --icon-colour: #30b7d4;
    --link-colour: #004b87;
    --button-colour: #004b87;
    --link-hover-colour: #00313c;
    --active-tab-colour: #00313c;
    --title-colour: #00313c;
    --footer-lightgrey: #f0f0f0;
    --nav-title-colour: #f5f5f5;
    --footer-blue: #142c3f;
    --banner-social-colour: rgba(255,255,255,.1);
    --separator-color: #d9d9d9;

    /* sizing */
    --max-width: 1520px;
    --left-content-width: 70%;
}

* {
    box-sizing: border-box;
}

body {
    display: unset;
    font-family: "Open sans", sans-serif;
    color: var(--text-colour);
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg, transparent 0, rgba(20, 43, 62, 0.9) 70%), linear-gradient(90deg, rgba(20, 43, 62, 0.9) 0, transparent 120%), url("csiro-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 420px;
    color: white;
    padding: 30px;
}

#header-top {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto 50px auto;
    width: 100%;
    text-transform: uppercase;
}

#logo {
    width: 85px;
    height: 85px;
    margin-right: auto;
}

#header-top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#header-tagline {
    margin: 15px 80px 15px 0px;
    font-size: 13px;
}

#header-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: "Montserrat", "Open sans", sans-serif;
}

.header-nav-item {
    padding: 15px 20px;
    color: white;
    border-radius: 4px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.header-nav-item.header-search {
    padding: 15px;
}

.header-nav-item:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.header-nav-item > i {
    color: var(--icon-colour);
}

#header-breadcrumbs {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 13px;
}

#header-breadcrumbs a {
    color: white;
}

#header-breadcrumbs a:hover {
    color: white;
}

#header-bottom {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    align-items: flex-start;
}

#header-socials {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
    gap: 12px;
}

#content {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 30px;
    gap: 30px;
}

#content-left {
    display: flex;
    flex-direction: column;
    width: var(--left-content-width);
}

#content-right {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--left-content-width));
}

footer {
    display: flex;
    flex-direction: column;
}

#footer-top-container {
    background-color: var(--footer-lightgrey);
}

#footer-top {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    padding: 75px 30px;
    gap: 30px;
}

#footer-top-left {
    display: flex;
    flex-direction: column;
    width: var(--left-content-width);
}

#footer-socials {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#footer-top-right {
    display: flex;
    flex-direction: column;
}

#footer-bottom-container {
    background-color: var(--footer-blue);
}

#footer-bottom {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    color: white;
    padding: 30px;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--separator-color);
    margin: 20px 0px;
}

a {
    color: var(--link-colour);
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--link-hover-colour);
}

#vocprez {
    position: unset;
    transform: unset;
}

#sidenav-container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", "Open sans", sans-serif;
}

#sidenav {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.sidenav-title {
    background-color: var(--nav-title-colour);
    padding: 20px;
    border-radius: 4px;
}

.sidenav-item {
    padding: 15px;
    border-radius: 4px;
}

.sidenav-item.active {
    background-color: var(--active-tab-colour);
    color: white;
    display: unset;
    margin-left: unset;
}

.sidenav-item.active:hover {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat", "Open sans", sans-serif;
    font-weight: 400;
    color: var(--title-colour);
}

h1#page-title {
    color: white;
}

a.header-social {
    border-radius: 50%;
    color: white;
    background-color: var(--banner-social-colour);
    width: 30px;
    height: 30px;
    display: flex;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a.header-social > i {
    margin: auto;
}

a.header-social:hover {
    background-color: white;
    color: var(--link-hover-colour);
    text-decoration: none;
}

button.header-contact {
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
    padding: 4px 10px;
    font-family: "Montserrat", "Open sans", sans-serif;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button.header-contact:hover {
    background-color: white;
    color: var(--link-hover-colour);
}

.social-share {
    font-size: 13px;
}

.last-updated {
    font-size: 13px;
}

a.footer-social {
    border-radius: 50%;
    color: white;
    background-color: var(--button-colour);
    width: 30px;
    height: 30px;
    display: flex;
    font-size: 14px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a.footer-social > i {
    margin: auto;
}

a.footer-social:hover {
    background-color: white;
    color: var(--footer-blue);
    text-decoration: none;
}

#footer-bottom a,
#footer-bottom a:hover {
    color: white;
    text-decoration: underline;
}

#footer-top-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: var(--button-colour);
    color: white;
    border-radius: 4px;
    padding: 6px 10px;
    font-family: "Montserrat", "Open sans", sans-serif;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
    color: var(--link-hover-colour);
    background-color: white;
}

.btn-lg {
    padding: 12px 28px;
    font-size: 18px;
}

#subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

input[type=email],
input[type=text],
select,
textarea {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid var(--separator-color);
}

input[type=email]:focus,
input[type=text]:focus,
select:focus,
textarea:focus,
input[type=email]:focus-visible,
input[type=text]:focus-visible,
select:focus-visible,
textarea:focus-visible {
    border: 1px solid var(--link-hover-colour);
    outline: none;
}

.filter-form {
    margin-bottom: 8px;
}

label[for="search"],
label[for="from"] {
    font-size: 12px;
}

table.dataTable {
    font-size: 0.9rem;
}

table {
    border: none;
    border-collapse: collapse;
}

table th,
table td {
    border: none;
    padding: 8px;
}

.subscribe-input {
    padding: 10px 15px;
    font-size: 16px;
}

#contact-footer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

#contact-footer-phone {
    font-size: 18px;
    font-family: "Montserrat", "Open sans", sans-serif;
}

.tooltip {
    cursor: help;
}

.tooltip .tooltiptext {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--footer-lightgrey);
    border: 1px solid var(--link-hover-colour);
}